pydantic==2.5.2
pydantic-settings==2.1.0
python-dotenv==1.0.0
fastapi==0.104.1
sqlalchemy[asyncio]==2.0.23
python-multipart==0.0.6
asyncpg==0.29.0
uvicorn==0.15.0
alembic==1.12.1
greenlet==3.0.1
sqladmin[full]==0.16.0
